{% extends 'base.html' %}
{%load static %}
{%block content%}
            <div class="row">
              <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title mb-0">Book Inventory</h4>
                    <div class="table-responsive book_list">
                    {{data_html}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
<div class="row">
              <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title mb-0">Borrowed Details</h4>
                    <div class="table-responsive book_borrowed_list">
                    {{borrowed_list}}
                    </div>
                  </div>
                </div>
              </div>
            </div>

{%endblock%}

 {% block script %}
<script>
  $(document).on('click','.borrow_book',function(){
    var data = new FormData();
			data.append('csrfmiddlewaretoken',"{{csrf_token}}")
			data.append("slug_val",$(this).attr('data-slug'))
			$.ajax({
							type: "POST",
							url : "{% url 'book_inventory_management:update_inventory' %}",
							data: data,
							processData: false,
							contentType: false,
							success: function(data) {
								if(data.status == true){
									$('.book_list').html(data.data_html );
									$('.book_borrowed_list').html(data.borrowed_list );
									alert('success')
								}
								else{
                                    alert(data.message)
								}
							}
						});


  })
</script>
{% endblock %}