<table class="table table-stretched">
                        <thead>
                          <tr>
                            <th>Book Name</th>
                            <th>Borrowed By</th>
                            <th>Borrowed On</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            {% for borrow in borrow_detail %}
                            <td class="font-weight-medium">
                              {{borrow.book.book_name|capfirst}}
                            </td>
                            <td class="font-weight-medium">{{borrow.borrowed_by.get_full_name|capfirst}}</td>
                            <td class="font-weight-medium">{{borrow.borrowed_on}}</td>

                          </tr>
                          {%empty%}
                          <tr>
                            <td colspan="3" class="text-center">No data</td>
                          </tr>
                        {%endfor%}
                        </tbody>
                      </table>